bin/
*.class
.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij Stuff
.idea/
*.iml

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/47/602e9552fa56001613f1c444f8557ad6

.metadata/.plugins/org.eclipse.core.resources/.history/6a/70fd72e5fa56001613f1c444f8557ad6

.metadata/.plugins/org.eclipse.core.resources/.history/9a/4054cfd0fa56001613f1c444f8557ad6

.metadata/.plugins/org.eclipse.core.resources/.history/b1/603598b6fa56001613f1c444f8557ad6

*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/PLPWebServer/.location

.metadata/.plugins/org.eclipse.core.resources/.projects/PLPWebServer/.markers

.metadata/.plugins/org.eclipse.core.resources/.projects/PLPWebServer/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.history/cc/105dc052fa56001613f1c444f8557ad6

*.index

*.tree

*.launch

*.fdx

*.fdt

*.fnm

*.lock

.metadata/.plugins/org.eclipse.rse.core/.log

*.tii

*.mark

.metadata/.plugins/org.eclipse.rse.ui/.log

*.registry

*.frq

*.frq

.metadata/.plugins/org.eclipse.core.resources/.history/a7/30336ff6de56001613f1c444f8557ad6

*.version

*.index

*.resources

*.index

.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx

*.nrm

*.tii

*.tis
