bin/
*.class
.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij Stuff
.idea/
*.iml

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/47/602e9552fa56001613f1c444f8557ad6

.metadata/.plugins/org.eclipse.core.resources/.history/6a/70fd72e5fa56001613f1c444f8557ad6

.metadata/.plugins/org.eclipse.core.resources/.history/9a/4054cfd0fa56001613f1c444f8557ad6

.metadata/.plugins/org.eclipse.core.resources/.history/b1/603598b6fa56001613f1c444f8557ad6

*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/PLPWebServer/.location

.metadata/.plugins/org.eclipse.core.resources/.projects/PLPWebServer/.markers

.metadata/.plugins/org.eclipse.core.resources/.projects/PLPWebServer/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.history/cc/105dc052fa56001613f1c444f8557ad6

*.index

*.tree

*.launch

*.fdx

*.fdt

*.fnm

*.lock

.metadata/.plugins/org.eclipse.rse.core/.log

*.tii

*.mark

.metadata/.plugins/org.eclipse.rse.ui/.log

*.registry

*.frq

*.frq

.metadata/.plugins/org.eclipse.core.resources/.history/a7/30336ff6de56001613f1c444f8557ad6

*.version

*.index

*.resources

*.index

.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx

*.nrm

*.tii

*.tis

.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js

.metadata/.plugins/org.eclipse.xtend.ide/dialog_settings.xml

.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/.state

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

*.dat

*.state

*.log

*.container

*.ser

*.gen

*.log

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs

*.cfs

*.tii

*.tis

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2

*.fdx

*.fdt

*.index

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx

*.nrm

*.frq

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml

.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2

*.del

.metadata/.plugins/org.eclipse.m2e.core/nexus/60bd4197d074e729207252d6d26bc4dc/segments_16

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4

.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nitins-macbook-air_132228/FP.local.files_0/node.properties

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nitins-macbook-air_132228/H.local_16/node.properties

.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nitins-macbook-air_132228/node.properties

.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.ui/dialog_settings.xml

.metadata/.plugins/org.springframework.ide.eclipse.boot.properties.editor/dialog_settings.xml

.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/623127801.xml

.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis

.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
