<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="JS/bower_components/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="JS/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="JS/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" type="text/css" />

    <script type="text/javascript" src="JS/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="JS/bower_components/jquery-ui/jquery-ui.min.js"></script>

    <script src="JS/bower_components/angular/angular.min.js"></script>
    <script src="JS/bower_components/angular-cookies/angular-cookies.min.js"></script>

    <link rel="stylesheet" href="JS/bower_components/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="JS/bower_components/jqwidgets/jqwidgets/styles/jqx.windowsphone.css" type="text/css" />
    <link rel="stylesheet" href="JS/bower_components/jqwidgets/jqwidgets/styles/jqx.blackberry.css" type="text/css" />
    <link rel="stylesheet" href="JS/bower_components/jqwidgets/jqwidgets/styles/jqx.android.css" type="text/css" />
    <link rel="stylesheet" href="JS/bower_components/jqwidgets/jqwidgets/styles/jqx.mobile.css" type="text/css" />
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxsplitter.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxsortable.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxchart.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="JS/bower_components/jqwidgets/jqwidgets/jqxgrid.selection.js"></script>

    <script type="text/javascript" src="JS/sevenSeg.js"></script>
    <script type="text/javascript" src="JS/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="JS/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="JS/bower_components/css-element-queries/src/ResizeSensor.js"></script>
    <script src="JS/bower_components/css-element-queries/src/ElementQueries.js"></script>


    <script src="JS/plpController.js"></script>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="471747742784-b39q2iqpqdejiljkc99pqedksonqrtt5.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" href="CSS/ide.css"  type="text/css">

    <script src="JS/homepage.js"></script>

    <script type="text/javascript">


    </script>

    <style>
.profileImage{
        height: 49px;
        float: right;
        background-color:white;
    }

.signOutDropdown{
    display: inline;
    left: -19px;
    }

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 0.1px solid white;
}

.dropdown a:hover {
    background-color: #ddd
    cursor: pointer;
    }


.show {
    display:block;
    right: 1px;
    top: 50px;
    background-color: black;
    cursor: pointer;
}

.dropdown{float:right;}

<!--.menuHover {-->
    <!--background-color: yellow;-->
<!--}-->



    </style>

    <title>PLP IDE</title>
</head>

<body>
    <div ng-app="PLP" ng-controller="idectrl" ng-init="register()">
        <div class="col-md-12">
                <div class="text">
                    <nav class="navbar navbar-inverse navbar-fixed-top menu";>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img src="images/plptool.png" class="logo" style="float: left">
                                <a class="navbar-brand" href="/#/">PLP Tool</a>
                            </div>
                            <div id="navbar" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li><a href="#/">Home</a></li>
                                    <li><a href="#/">Feedback</a></li>
                                    <li><a href="#/">Quick Reference</a></li>
                                    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
                                        <ul class="dropdown-menu">

                                            <li><a href="#/">Online Manual</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#/">Report Issue</a></li>
                                            <li><a href="#/">Google code Issues</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#/">About PLP Tool</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                    <div class="dropdown">
                                        <img id="profileImage" src="images/blank_profile.png" alt="image not found" border="0" class="dropbtn profileImage" onclick="dropDownToggle()"/>
                                        <div id="myDropdown" class="dropdown-content">
                                            <a class="menuHover" onclick="editProfile()">Edit Profile</a>
                                            <a class="menuHover" id="dialog-confirm" title="Log Out?" onclick="logout();">Sign Out
                                                <!--<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure that you want to log out?-->
                                            </a>
                                        </div>
                                    </div>

                            </div>


                    </nav>

                </div>

        </div>
        <br><br><br>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><input type="file" id="upfile" style="height: 0; width: 0; visibility: hidden" ng-model="inFile" onchange="angular.element(this).scope().openFile()"></li>
                        <li><a data-toggle="modal" href="#newFileModal">New</a></li>
                        <li><a href="#" ng-click="uploadFile()">Open</a></li>
                        <li><a href="#/">Save</a></li>
                        <li><a href="#/" ng-click="assembleFile()">Assemble</a></li>
                        <li><a href="#/" ng-click="sim=!sim ; SimulateFile()">Simulate</a></li>
                        <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/">Program Listing</a></li>
                                <li><a href="#/">Set New Project ISA...</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/">Options</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/">Serial Terminal</a></li>
                                <li><a href="#/">Number Converter</a></li>
                            </ul>
                        </li>

                    </ul>
                    <div ng-show="sim">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Simulation<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a href="" tabindex="-1">Cycles/Step</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#/">1</a></li>
                                            <li><a href="#/">5</a></li>
                                            <li><a href="#/">20</a></li>
                                            <li><a href="#/">100</a></li>
                                            <li><a href="#/">1000</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href="" tabindex="-1">Tools</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#/">I/O Registry</a></li>
                                            <li><a href="#/">CPU Memory Visualizer</a></li>
                                            <li><a href="#/">Bus Monitor Timing Diagram</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#/">Step</a></li>
                            <li><a href="#/">Run</a></li>
                            <li><a href="#/">Reset</a></button></li>
                            <li><a href="#/">Remote</a></li>
                            <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;LED's</a></li>
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;Switches</a></li>
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;7-Segment Display</a></li>
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;UART</a></li>
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;VGA</a></li>
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;PLP ID</a></li>
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;GPIO</a></li>
                                    <li><a href="#/"><input type="checkbox"/>&nbsp;Interrupt</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>



        <div id='jqxWidget'>
            <div id="mainSplitter">
                <div>
                    <div id="firstNested">
                        <div>
                            <div style="...">
                                File Structure Goes Here
                            </div>
                        </div>
                        <div>
                            <div id="secondNested">
                                <div style = "...">
                                    <div id = "code" style="width: 99%; height: 98%; margin-right: 1%">
                                        <div id="editor" style="width: 100%; height: 100%">
.org 0x10000000
nop
lbl1:
addiu $t1 $s0 13
jal lbl1
li $a1 0x110
<script src="JS/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="JS/textAreaJS.js"></script>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id = "thirdNested">
                                        <div>
                                            <div class="jqx-hideborder jqx-hidescrollbars" id="tabswidget">
                                                <ul>
                                                    <li style="margin-left: 30px;">Watcher Window</li>
                                                    <li>CPU Window</li>
                                                </ul>
                                                <div>
                                                    <!--<div style="border: none;" id='jqxgrid'>

                                                    </div>-->
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            <div class="table-bordered">
                                                                <table class="table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Name</th>
                                                                        <th>Register</th>
                                                                        <th>Value</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div><br><br>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <label for="register" class="control-label col-xs-4">Watch Register:</label>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" id="register">
                                                                        <span class="input-group-btn">
                                                                            <button class="btn btn-secondary" type="button">Add</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">

                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="table-bordered">
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Address</th>
                                                                    <th>Value</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div> <br><br>
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-xs-3">Display Value as:</label>
                                                                <div class="dropdown">
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="#">Decimal</a></li>
                                                                        <li><a href="#">Binary</a></li>
                                                                        <li><a href="#">Hexa</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div>Content 2</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div id = "window" style="overflow-y: auto;">
                                                Components
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="fourthNested">
                        <div>
                            <span>Console Messages go here</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	<!-- Modal Information -->
		<div id="newFileModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">New Project</h4>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label for="example-text-input" class="col-sm-4 col-form-label">Project Name:</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" id="example-text-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-search-input" class="col-sm-4 col-form-label">File Name:</label>
							<div class="col-sm-4">
								<input class="form-control" id="example-search-input">
							</div>
						</div>
						<div class="form-group row">
							<label for="example-email-input" class="col-sm-4 col-form-label">Location:</label>
							<div class="col-sm-4">
								<input type="file" webkitdirectory directory multiple/>
							</div>
						</div>
						<div class="form-group row">
							<label for="example-url-input" class="col-sm-4 col-form-label">Targetted ISA:</label>
							<div class="col-sm-4">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select <span class="caret"></span></button>
							        <ul class="dropdown-menu">
							          <li><a href="#">PLP 5</a></li>
							          <li><a href="#">PLP 6</a></li>
							        </ul>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Submit</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
    </div>
    <div hidden class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

</body>

<div id="assembleError" class="modal fade assembleError" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">

                <div> Please write some code before trying to assemble.</div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-error" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>

<div id="simulateError" class="modal fade simulateError" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">

                <div> Please successfully assemble the ASM file first.</div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-error" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>

<div id="runError" class="modal fade simulateError" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">

                <div> Please wirte the code first</div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-error" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>




</html>
