.purple-bg {
    background-color: #6E329D;
    color: #fff;
}

#yahoo-btn-login{
    margin-top: 33px;
    height: 38px;
}

.yahoo-btn-login{
    padding:15px;
}

.yahooSymbol{
    padding: 2px;
    width: 35px;
    border-color: white;
    width: 34px;
    background-color: white;
    color: purple;
}

.yahooLabel{
        text-align: center;
        padding: 42px;
}

.SignUpClass{
    padding-left: 15px;
}

.btn-social-yahoo{
    position: relative;
    padding-left: 44px;
    /* text-align: left; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-yahoo {
    color: #fff;
    background-color: #720e9e;
    border-color: rgba(0,0,0,0.2);
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}